In [ ]:
# Import Packages

from pyspark.sql import SparkSession
from pyspark.sql.functions import add_months
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, DoubleType, DateType

spark = SparkSession.builder.appName('Invoice').master('local[*]').getOrCreate()

In [ ]:
# Import data from 'liquor-sales-data/raw_data/' in ADLS

file_path = "/mnt/liquor-sales-data/raw_data/invoice.csv"

schema = StructType([
    StructField("Invoice_Item Number", StringType(), True),
    StructField("Store Number", StringType(), True),
    StructField("Address Sequence", IntegerType(), True),
    StructField("Item Number", StringType(), True),
    StructField("Vendor Number", StringType(), True),
    StructField("Price Sequence", IntegerType(), True),
    StructField("Items Sold", IntegerType(), True),
    StructField("Sale Dollars", DoubleType(), True),
    StructField("Sale Baht", DoubleType(), True),
    StructField("Volume Sold Liters", DoubleType(), True),
    StructField("Date", DateType(), True)
])
df_invoice = spark.read.load(file_path, format='csv', header=True, schema=schema)

+-------------------+------------+----------------+-----------+-------------+--------------+----------+------------+---------+------------------+----------+
|Invoice_Item Number|Store Number|Address Sequence|Item Number|Vendor Number|Price Sequence|Items Sold|Sale Dollars|Sale Baht|Volume Sold Liters|      Date|
+-------------------+------------+----------------+-----------+-------------+--------------+----------+------------+---------+------------------+----------+
|       S10731600154|    STO_2633|               1|  ITM_87938|      VEN_434|             6|        48|       480.0|  17280.0|              48.0|2013-02-21|
|       S10484600004|    STO_2512|               1| ITM_903202|      VEN_259|             1|        36|       286.2|  10303.2|              27.0|2013-02-07|
|       S10907100019|    STO_4095|               1|  ITM_68038|      VEN_260|            18|         1|       43.07|  1550.52|               2.4|2013-03-05|
|       S10976000109|    STO_4829|               1|  ITM_69947|      VEN_260|             7|        48|     1090.56| 39260.16|              48.0|2013-03-07|
|       S11127600036|    STO_2178|               1|  ITM_75210|      VEN_322|             3|        18|       270.0|   9720.0|              13.5|2013-03-18|
|       S10883200163|    STO_2633|               1|  ITM_89578|       VEN_55|             4|        48|      505.44| 18195.84|              48.0|2013-03-04|
|       S08589700151|    STO_2633|               1|  ITM_86250|      VEN_434|             1|        84|      278.04| 10009.44|              84.0|2012-10-25|
|       S07368100089|    STO_2544|               1|  ITM_86884|       VEN_85|             4|        36|      505.44| 18195.84|              27.0|2012-10-12|
|       S08155100048|    STO_3456|               1|  ITM_88294|      VEN_410|             2|         2|        25.5|    918.0|               0.4|2012-10-08|
|       S08570200042|    STO_4344|               1|  ITM_89193|      VEN_395|             8|         2|        8.98|   323.28|               0.4|2012-10-25|
|       S10064600007|    STO_3385|               1|  ITM_89887|      VEN_421|             1|        84|       835.8|  30088.8|              84.0|2013-01-16|
|       S10237500004|    STO_5230|               1| ITM_903454|      VEN_420|             8|        36|      931.68| 33540.48|              27.0|2013-01-24|
|       S09246600033|    STO_3929|               1|  ITM_88291|      VEN_410|             1|         1|       30.45|   1096.2|               0.3|2012-12-04|
|       S09541500025|    STO_4167|               1| ITM_903454|      VEN_420|             8|        36|      931.68| 33540.48|              27.0|2012-12-18|
|       S12797500017|    STO_4806|               1|  ITM_34001|      VEN_370|             1|         4|       47.52|  1710.72|               2.4|2013-06-13|
|       S12777100027|    STO_2130|               1|  ITM_34006|      VEN_370|            14|       156|     3508.44|126303.84|             156.0|2013-06-13|
|       S12627300015|    STO_4134|               1|  ITM_34425|       VEN_35|             5|         2|       14.58|   524.88|               0.4|2013-06-05|
|       S13056700027|    STO_3814|               1|  ITM_36304|      VEN_434|             4|        54|       577.8|  20800.8|              94.5|2013-06-27|
|       S13025800041|    STO_3928|               1|  ITM_43333|      VEN_260|             6|         7|        21.0|    756.0|               1.4|2013-06-26|
|       S13044900055|    STO_2599|               1|  ITM_43337|      VEN_260|            12|        72|     1916.64| 68999.04|             126.0|2013-06-27|
+-------------------+------------+----------------+-----------+-------------+--------------+----------+------------+---------+------------------+----------+
only showing top 20 rows

In [ ]:
# Transform

# Subtract year column by 543
df_invoice = df_invoice.withColumn('Date', add_months(df_invoice['Date'], -543 * 12))

df_invoice.printSchema()

root
 |-- Invoice_Item Number: string (nullable = true)
 |-- Store Number: string (nullable = true)
 |-- Address Sequence: integer (nullable = true)
 |-- Item Number: string (nullable = true)
 |-- Vendor Number: string (nullable = true)
 |-- Price Sequence: integer (nullable = true)
 |-- Items Sold: integer (nullable = true)
 |-- Sale Dollars: double (nullable = true)
 |-- Sale Baht: double (nullable = true)
 |-- Volume Sold Liters: double (nullable = true)
 |-- Date: date (nullable = true)

In [ ]:
# Export to 'liquor-sales-data/transformed_data/' in ADLS

output_path = "/mnt/liquor-sales-data/transformed_data/invoice/"

df_invoice.write.parquet(output_path, mode='overwrite')